<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

<!-- s:pic detail -->  <!-- S:read image orientation if potrait load this -->
<!-- E:read image orientation if potrait load this -->  <!-- e:pic detail --> <b>Bantul</b> - Fuad Muhammad Syafruddin
atau Udin akan diajukan sebagai pahlawan pers nasional. Almarhum Udin dinilai telah jasa dan perjuangannya di bidang
pers.<br/><br/>"Kami akan mengusulkan (ke Pemda Bantul) agar Udin bisa diproses menjadi pahlawan pers nasional," kata
Ketua Solidaritas Wartawan Untuk Udin, Taufik Juwariyanto seusai berziarah ke makam Udin di TPU Trirenggo, Kabupaten
Bantul, Jumat (10/11/2017).<br/><br/>Almarhum Udin adalah wartawan yang cukup vokal mengkritisi Orde Baru dan Pemda
Bantul yang kala itu dianggap korup. Lewat penanya wartawan SKH Bernas ini mengkritik keras kebijakan pemerintah, hingga
akhirnya Udin dihabisi kemudian meninggal pada 16 Agustus 1996.<br/><br/>
<script type='text/javascript'><
!--// <![CDATA[ OA_show('parallaxindetail');  // ]]> --></script>
"Kami pikir Udin ini sangat layak diangkat menjadi pahlawan pers nasional. Memang kekerasan terhadap jurnalis sangat
banyak, tidak hanya kasus Udin saja. Tetapi memang kasus kekerasan wartawan yang sampai saat ini belum terungkap ya
kasus Udin," ucap aktivis pers ini.<br/><br/>Taufik yakin Udin meninggal karena berita bernada kritis yang ditulisnya.
Oleh karenanya, menurut Taufik sudah sepantasnya nama Udin diangkat sebagai pahlawan pers nasional. Sebab banyak hal
yang bisa diteladani dari sosok Udin, seperti idealisme awak pers dan nalar kritisnya.<br/><br/>"Udin tidak hanya milik
PWI (Persatuan Wartawan Indonesia) atau AJI (Aliansi Jurnalis Independen). Tetapi Udin adalah milik semua orang. Makanya
sudah sepantasnya kita bersama-sama memperjuangkan Udin agar diangkat sebagai pahlawan pers nasional,"
jabarnya.<br/><br/>Ketua PWI DIY, Siyono, mendukung penuh rencana pengusulan agar Udin diangkat menjadi pahlawan pers
nasional. Pihaknya mendorong supaya segera dibentuk tim khusus beranggotakan elemen pers, aktivis dan masyarakat sipil
lainnya, untuk menyusun langkah strategis pengusulan nama Udin.<br/><br/>"Berbicara tentang kasus Udin itu seperti
berjalan di jalan yang sunyi. Siapa lagi yang akan meneruskan perjuangannya kalau bukan kita semua," tutupnya.
<br/><strong>(sip/sip)</strong>
<div class="clearfix mb20"></div>
<div class="detail_tag"><a href="https://www.detik.com/tag/wartawan-udin/" "="">wartawan udin</a> <a
		href="https://www.detik.com/tag/bantul/" "="">bantul</a> <a href="https://www.detik.com/tag/hari-pahlawan/"
	"="">hari pahlawan</a>  </div>  <!-- POLONG -->
<div class="news_tag" style="margin-bottom:15px">
	<script type='text/javascript'><
	!--// <![CDATA[  OA_show('newstag');   // ]]> --></script>
</div>
<div id="thepolong"></div>
<script src="//newpolong.detik.com/static/frontend/build/polong.vendor.js"></script>
<script src="//newpolong.detik.com/static/frontend/build/polong.app.js"></script>
<script type="text/javascript">  polong.create({target: 'thepolong', id: 55})  </script>  <!-- POLONG -->


</body>
</html>
